:root {
  --default-bg: url("./images/bgs/clear.png");
  --default-wind: 60s;

  --bg-clear-day: url("./images/bgs/clear.png");

  --bg-wind-normal: 60s;
  /* 20mph+ */
  --bg-wind-fast: 40s;
  /* 30mph+ */
  --bg-wind-fast: 20s;
}

* {
  border: 1px solid black;
}

body {
  --bg-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  background-color: #6d84ec;
  background-image: var(--default-bg);
  background-size: var(--bg-size);
  background-repeat: repeat-x;
  background-position-y: bottom;
  background-attachment: scroll;
  animation: bg-drift var(--default-wind) linear infinite;
}
header {
  height: fit-content;
}
main {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
aside#location-sidebar {
  display: none;
  min-width: 20ch;
  grid-column: 1/2;
  grid-row: 1/-1;
}
img#sidebar-button {
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: gray;
}
article#current-weather-wrapper {
  /* grid-column: 2/3; */
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#today {
  article#wind {
    img {
      height: 50px;
      width: 50px;
      background-color: rgba(0, 0, 0, 0.445);
      border-radius: 50%;
    }
  }
}

div#info-wrapper,
div#hourly-wrapper,
div#forecast-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

article.hour div.hour-arrow {
  border-radius: 50%;
  background-image: url(./images/caret-up-bold-svgrepo-com.png);
  background-size: cover;
  height: 2rem;
  width: 2rem;
}

img.precip-icon {
  height: 2rem;
  width: 2rem;
}

@media (width >= 768px) {
  body {
    --bg-size: 70%;
    --sidebar: 0fr;

    display: grid;
    grid-template-columns:
      [ side-start] minmax(0, var(--sidebar))
      [ main-left] 1fr
      [ main-right] minmax(0, var(--sidebar))
      [ side-end];
    grid-template-rows: min-content auto auto;
    /* align-items: center; */
  }
  header {
    grid-row: 1/2;
    grid-column: main-left / main-right;
  }
  main {
    grid-row: 2/3;
    grid-column: main-left / main-right;
    grid-template-columns: minmax(min-content, 0.15fr) 1fr;
  }
  footer {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  aside#location-sidebar {
    display: block;
  }
  img#sidebar-button {
    display: none;
  }
}

@media (width >= 1024px) {
  body {
    --sidebar: 0.05fr;
  }
}

@media (width >= 1200px) {
  body {
    --sidebar: 0.15fr;
  }
}

/* Animations */
@keyframes bg-drift {
  0% {
    background-position-x: 0%;
  }
  /* 25% {
    background-position-x: 100%;
  }
  50% {
    background-position-x: 0%;
  } */
  100% {
    background-position-x: 233.35%;
  }
}
