* {
  border: 1px solid black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
header {
  height: fit-content;
}
main {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr repeat(2, 1fr);
}
aside#location-sidebar {
  display: none;
  min-width: 20ch;
  grid-column: 1/2;
  grid-row: 1/-1;
}
img#sidebar-button {
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: gray;
}
article#current-weather-wrapper {
  /* grid-column: 2/3; */
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#today {
  article#wind {
    img {
      height: 50px;
      width: 50px;
      background-color: rgba(0, 0, 0, 0.445);
      border-radius: 50%;
    }
  }
}

div#info-wrapper,
div#hourly-wrapper,
div#forecast-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

article.card {
}

@media (width >= 768px) {
  body {
    display: grid;
    grid-template-columns:
      [ side-start] minmax(0, 0.15fr)
      [ main-left] 1fr
      [ main-right] minmax(0, 0.15fr)
      [ side-end];
    grid-template-rows: min-content auto auto;
    /* align-items: center; */
  }
  header {
    grid-row: 1/2;
    grid-column: main-left / main-right;
  }
  main {
    grid-row: 2/3;
    grid-column: main-left / main-right;
    grid-template-columns: minmax(min-content, 0.15fr) 1fr;
  }
  footer {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  aside#location-sidebar {
    display: block;
  }
  img#sidebar-button {
    display: none;
  }
}
